@model StillWorkingThatList_BlakeShaw.Models.ViewModel

@Html.Partial("~/Views/Shared/_GuestForm.cshtml", Model.Guest)
@Html.Partial("~/Views/Shared/_DishForm.cshtml", Model.Dish)
@{
    ViewData["Title"] = "Home Page";
}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid text-white">
    <div class="container text-sm-center pt-5">
        <img src="~/images/Jingle and Mingle-2018 Holiday Party Logo.PNG" class="img-fluid px-5" alt="Jingle and Mingle Rockin' the FOC">
        <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">Register Now</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dish">Bring A Dish</button>
        </div>
    </div>
</div><!-- /jumbotron -->
