@model StillWorkingThatList_BlakeShaw.Models.ViewModel

@Html.Partial("~/Views/Shared/_GuestForm.cshtml", Model.Guest)
@Html.Partial("~/Views/Shared/_DishForm.cshtml", Model.Dish)
@{
    ViewData["Title"] = "Home Page";
}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid text-white">
    <div class="container text-sm-center">
        <img src="https://awoiaf.westeros.org/images/c/c9/House_Mormont.PNG" class="img-fluid" alt="House Mormont of Bear Island Coat of Arms" style="max-height: 400px">
    </div>
</div><!-- /jumbotron -->
